<div class="container box">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fa fa-facebook-f"></i></span>
					<span><i class="fa fa-google"></i></span>
					<span><i class="fa fa-twitter"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form [formGroup]="signUpForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" formControlName="firstName" class="form-control" placeholder=" First Name">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" formControlName="lastName" class="form-control" placeholder=" Last Name">

					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-mobile"></i></span>
						</div>
						<input type="text" formControlName="mobileNo" class="form-control" placeholder=" Mobile Number">

					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" formControlName="username" class="form-control"
							placeholder=" Enter Username">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password" formControlName="password" class="form-control"
							placeholder="Enter Password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" (click)="signUp()" [disabled]="signUpForm.invalid" value="Sign Up"
							class="btn float-right login_btn">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<user-footer></user-footer>