<app-userheader></app-userheader>

<div class="container">
    <div class="card col-6">
        <img class="card-img-top" src="/user/user-image.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Raju Pawar</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          Some quick example text to build on the card title and make up the bulk of the card's content.
          <br>
          <a class="btn btn-primary">View Booking</a>
        </div>
      </div>
</div>

<!-- <p>user works!</p> -->