<!-- <p>adminheader works!</p> -->
<div class="pb-3">
    <div class="row">
      <div class="col">
         <ul class="nav bg-secondary p-1 text-white">
          <li class="nav-item">
            <h3>Flight Booking</h3>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/admin">ADMIN HOME</a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/addflight">ADD AIRLINE</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/manageflight">MANAGE AIRLINE</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/manageschedule">MANAGE SCHEDULES</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/managediscount">MANAGE DISCOUNT</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="#">REPORTS</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/login">LOGOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"></a>
            </li>
        </ul> 
      </div>
    </div>
  </div> 
 
