 <div class="pb-3">
    <div class="row">
      <div class="col">
         <ul class="nav bg-secondary p-1 text-white">
             <li class="nav-item">
              <h3>Flight Booking</h3>
            </li> 
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/user">USER HOME</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/managebooking">MANAGE BOOKING</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/bookinghistory">BOOKING HISTORY</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/login">LOGOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"></a>
            </li>
        </ul> 
      </div>
    </div>
  </div> 
 