<!-- Background image -->
    <div
      id="intro-example"
      class="p-5 text-center bg-image"
      style="background-image: url('/assets/images/background_img.jpg');"
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Welcome To FlyBook</h1>
            <h5 class="mb-4">Best Deals on domestic and international flight booking</h5>
            <a
              class="btn btn-outline-light btn-lg m-2"
              routerLink='admin-login'
              >Admin</a
            >
            <a
              class="btn btn-outline-light btn-lg m-2"
              routerLink='user-login'
              >User</a
            >
          </div>
        </div>
      </div>
    </div>
